:root {
    --clr-bg: #191919;
    font-family: 'Courier New', Courier, monospace;
}

body {
    background: var(--clr-bg);
    color: var(--clr-bg);
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
header {
    width: 500px;
    height: 100px;
    background: burlywood;
    margin-bottom: 1em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.field {
    background: rgb(167, 226, 167);
    width: 500px;
    height: 500px;
    opacity: 0.7;
    display: grid;
    gap: 5px;
    padding: 5px;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
    ". . ."
    ". . ."
    ". . ."; 
    place-items: center;
}
button {
    padding: 0.5em;
    border-radius: 10px;
    background: rgb(233, 214, 217);
}
header,
.field {
    border: solid 10px grey;
    border-radius: 20px;
}
.block {
    width: 150px;
    aspect-ratio: 1;
    background: rgba(76, 104, 76, 0.794);
    border: solid var(--clr-bg) 2px;
    display: inline-block;
    border-radius: 10px;
}
.occupied {
    background: whitesmoke;
    display: grid;
    place-items: center;
}
p {
    font-size: 3rem;
    text-align: center;
    font-weight: bolder;
    position: absolute;
}
.dialog {
    width: 500px;
    height: 10rem;
    border: solid black 5px;
    border-radius: 20px;
    background-color: burlywood;
}
.dialog > * {
    text-align: center;
}
.dialog p {
    font-size: 1.2rem;
    position: absolute;
    left: 10%;
}
.dialog::backdrop {
    opacity: 0.8;
    background-color: black;
}
.ctrl {
    position: absolute;
    right: 3em;
    top: 3em;
}